*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
video{
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.container{
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: space-between;
  position: absolute;
}
.red-block{
  width: 25px;
  height: 400px;
  background-color: red;
}
.blue-block{
  width: 25px;
  height: 400px;
  background-color: blue;
}
.red-block,
.blue-block {
  width: 25px;
  height: 400px;
  position: relative;
  transition: transform 0.5s, box-shadow 0.5s;
}

.red-block::before,
.blue-block::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 50%, rgba(255, 255, 255, 0.5) 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.5s, box-shadow 0.5s;
  z-index: -1;
}

.red-block:hover::before,
.blue-block:hover::before {
  background-position: bottom;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.red-block:hover,
.blue-block:hover {
  transform: rotateX(180deg);
}

